body {
    margin: 0px;
    background-color: #c6ab43;
}
/* menu start */
.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
a:visited {
    color: white;
}
a:link {
    color: white;
}
/* menu end */
/* banner start */
.bodyimg img{
    width: 100%;
}
.bodyimg {
    position: relative;
}
.bodyimg p{
    position: absolute;
    top: 15%;
    left: 13%;
    transform: translate(-50%,-50%);
    opacity: 1;
    color: gold;
    font-size: 60px;
}
.bodyimg h3{
    position: absolute;
    top: 35%;
    left: 56%;
    transform: translate(-50%,-50%);
    opacity: 1;
    color: white;
    font-size: 30px;
    text-align: center;
}
/* banner end */
/* image grid start */
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.grid .origami {
    background-color: #FEFEFE;
    margin: 30px;
    width: 300px;
    height: 500px;
}
.origami img {
    color: deepskyblue;
    border: 2px solid;
    border-radius: 50px;
}
.origami {
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;
}
/* image grid end */
